						<aside class="col-lg-3 col-md-3 col-sm-3">
														<figure class="widget shadow r_corners wrapper m_bottom_30">
								<figcaption>
									<h3 class="color_light">Categories</h3>
								</figcaption>
								<div class="widget_content">
									<!--Categories list-->
									<ul class="categories_list">
										<li class="active">
											<a href="#" class="f_size_large scheme_color d_block relative">
												<b>Плитка</b>
												<span class="bg_light_color_1 r_corners f_right color_dark talign_c"></span>
											</a>
											<!--second level-->
											<ul>
												<li class="active">
													<a href="#" class="d_block f_size_large color_dark relative">
														Настенная плитка
													</a>
													<a href="#" class="d_block f_size_large color_dark relative">
														Напольная плитка
													</a>
													<a href="#" class="d_block f_size_large color_dark relative">
														Плита для кухни
													</a>
													<a href="#" class="d_block f_size_large color_dark relative">
														Восточные коллекции
													</a>
													<a href="#" class="d_block f_size_large color_dark relative">
														Для бассеина
													</a>
												</li>
											</ul>
										</li>
										<li class="active">
											<a href="#" class="f_size_large scheme_color d_block relative">
												<b>Керамогранит</b>
												<span class="bg_light_color_1 r_corners f_right color_dark talign_c"></span>
											</a>
											<!--second level-->
											<ul>
												<li class="active">
													<a href="#" class="d_block f_size_large color_dark relative">
														Матовый
													</a>
													<a href="#" class="d_block f_size_large color_dark relative">
														Полированый
													</a>
													<a href="#" class="d_block f_size_large color_dark relative">
														Полуполированный
													</a>
													<a href="#" class="d_block f_size_large color_dark relative">
														Структурированый
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</figure>
								
						</aside>