							<div class="col-lg-4 col-md-4 col-sm-4">
									<div class="photoframe type_2 shadow r_corners f_left f_sm_none d_xs_inline_b product_single_preview relative m_right_30 m_bottom_5 m_sm_bottom_20 m_xs_right_0 w_mxs_full">
								<div class="relative d_inline_b m_bottom_10 qv_preview d_xs_block">
									<img id="zoom_image" src="/images/product_img_1.jpg" data-zoom-image="images/preview_zoom_1.jpg" class="tr_all_hover" alt="">
									<a href="images/preview_zoom_1.jpg" class="d_block button_type_5 r_corners tr_all_hover box_s_none color_light p_hr_0">
										<i class="fa fa-expand"></i>
									</a>
								</div>	
								<div class="relative qv_carousel_wrap">
									<button class="button_type_11 bg_light_color_1 t_align_c f_size_ex_large bg_cs_hover r_corners d_inline_middle bg_tr tr_all_hover qv_btn_single_prev">
										<i class="fa fa-angle-left "></i>
									</button>
									<ul class="qv_carousel_single d_inline_middle" >
										<a href="#" data-image="images/quick_view_img_7.jpg" data-zoom-image="images/preview_zoom_1.jpg"><img src="/images/quick_view_img_10.jpg" alt=""></a>
									</ul>
									<button class="button_type_11 bg_light_color_1 t_align_c f_size_ex_large bg_cs_hover r_corners d_inline_middle bg_tr tr_all_hover qv_btn_single_next">
										<i class="fa fa-angle-right "></i>
									</button>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4">
									<p>zzz</p>
							</div>