<style type="text/css">
	.category_grid .product_item{
		clear: none;
		float: left;
	}
</style>
<div class="page_content_offset">
				<div class="container">
					<div class="row clearfix">
						<!--left content column-->
						<section class="col-lg-12 col-md-12 col-sm-12">
							<h2 class="tt_uppercase color_dark m_bottom_25"><%= @category.name %></h2>
							<!--sort-->
							<!--products-->
														<!--categories nav-->
							<nav class="m_bottom_40">
								<ul class="horizontal_list clearfix categories_nav_list m_xs_right_0 t_mxs_align_c">
									<% @category.collections.each do |collection| %>
										<li class="m_right_15 f_mxs_none w_mxs_auto d_mxs_inline_b m_mxs_bottom_20">
											<%= link_to collection.name, category_collection_path(@category , collection), class: "_block photoframe tr_all_hover shadow color_dark r_corners" %>
												<span class="d_block wrapper">
													<img class="tr_all_long_hover" src="/images/category_img_2.jpg" alt="">
												</span>
											</a>
										</li>
									<% end %>
								</ul>
							</nav>	
							<hr class="m_bottom_10 divider_type_3">
							<div class="row clearfix m_bottom_15 m_xs_bottom_30">
								<div class="col-lg-7 col-md-7 col-sm-8 m_xs_bottom_10">
									<p class="d_inline_middle f_size_medium d_xs_block m_xs_bottom_5">Results 1 - 5 of 45</p>
									<p class="d_inline_middle f_size_medium m_left_20 m_xs_left_0">Show:</p>
									<!--show items per page select-->
									<div class="custom_select f_size_medium relative d_inline_middle m_left_5">
										<div class="select_title r_corners relative color_dark">9</div>
										<ul class="select_list d_none"></ul>
										<select name="show_second">
											<option value="Manufacture 1">6</option>
											<option value="Manufacture 2">3</option>
											<option value="Manufacture 3">1</option>
										</select>
									</div>
									<p class="d_inline_middle f_size_medium m_left_5">items per page</p>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-4 t_align_r t_xs_align_l">
									<!--pagination-->
									<a role="button" href="#" class="button_type_10 color_dark d_inline_middle bg_cs_hover bg_light_color_1 t_align_c tr_delay_hover r_corners box_s_none"><i class="fa fa-angle-left"></i></a>
									<ul class="horizontal_list clearfix d_inline_middle f_size_medium m_left_10">
										<li class="m_right_10"><a class="color_dark" href="#">1</a></li>
										<li class="m_right_10"><a class="scheme_color" href="#">2</a></li>
										<li class="m_right_10"><a class="color_dark" href="#">3</a></li>
									</ul>
									<a role="button" href="#" class="button_type_10 color_dark d_inline_middle bg_cs_hover bg_light_color_1 t_align_c tr_delay_hover r_corners box_s_none"><i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</section>
						<!--right column-->
					</div>
				</div>
			</div>