				<section class="h_top_part">
					<div class="container">
						<div class="row clearfix">
							<div class="col-lg-4 col-md-4 col-sm-5 t_xs_align_c">
								<p class="f_size_small">Какой то текст </p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-2 t_align_c t_xs_align_c">
								<p class="f_size_small">Текст  <b class="color_dark">в центре</b></p>
							</div>
							<nav class="col-lg-4 col-md-4 col-sm-5 t_align_r t_xs_align_c">
								<ul class="d_inline_b horizontal_list clearfix f_size_small users_nav">
									<li><a href="#" class="default_t_color">Доставка</a></li>
									<li><a href="#" class="default_t_color">Оплата</a></li>
									<li><a href="#" class="default_t_color">Партнерам</a></li>
									<li><a href="#" class="default_t_color">Новости</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</section>